<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Testing</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- <br> -->

    <!-- <ul class="nav nav-pills menu1">
      <li role="presentation" class="btn1"><a href="/">Home</a></li>
      <li role="presentation" class="btn1"><a href="1">Page 1</a></li>
      <li role="presentation" class="btn1"><a href="2">Page 2</a></li>
      <li role="presentation" class="btn1"><a href="3">Page 3</a></li>
      <li role="presentation" class="btn1"><a href="4">Page 4</a></li>
    </ul>

    <br><br> -->



    <nav class="navbar navbar-inverse navbar-fixed-top sticky">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="btn1" href="/">Home</a></li>
            <li><a class="btn1" href="1">P-1</a></li>
            <li><a class="btn1" href="2">P-2</a></li>
            <li><a class="btn1" href="3">P-3</a></li>
            <li><a class="btn1" href="4">P-4</a></li>
            <li><a class="btn1" href="5">P-5</a></li>
            <li><a class="btn1" href="6">P-6</a></li>
            <li><a class="btn1" href="7">P-7</a></li>
            <li><a class="btn1" href="8">P-8</a></li>
            <li><a class="btn1" href="9">P-9</a></li>
            <li><a class="btn1" href="10">P-10</a></li>
            <li><a class="btn1" href="11">P-11</a></li>
            <li><a class="btn1" href="12">P-12</a></li>
          </ul>


            <!-- Log in & out in the Right -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Log-In</a></li>
            <li><a href="#">Log-Out</a></li>
          </ul>



        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>





    <br><br>
