
<% include ../parts/01-up %>

<h2>Welcome to to our Book archive</h2>
<p>Please search our book collection or add a new title</p>

<img src="../img/head.jpg" alt="Pic Missing" class="head1">

<% include ../parts/02-dw %>
