
<% include ../parts/01-up %>


    <h2>Book added to DB.</h2>

    <div class="nbook">
      <h4>The new book information is:</h4>
      <p>Title: <%= data.title %></p>
      <p>Author: <%= data.author %></p>
      <p>Category: <%= data.category %></p>
    </div>



    <br><br>
    <p>Thanks for adding to this archive.</p>


<% include ../parts/02-dw %>
