

<% include ../parts/01-up %>

<h1>Page 2</h1>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 rg">
        Square 1
      </div>
      <div class="col-sm-5 rg">
        Square 2
      </div>
    </div>
  </div><!-- End of Container DIV -->
</div> <!-- End of the Jumbotron DIV -->

<% include ../parts/02-dw %>
