

<% include ../parts/01-up %>
<link rel="stylesheet" href="/css/03-ps3.css">

<h1>My Favorite PS3 Games</h1>
<br>

<div class="container">

  <div class="row">
    <div class="col-md-4"> <img class="pic1" src="img/cu.jpg" alt="Pic Miss"> </div>
    <div class="col-md-4"> <img class="pic1" src="img/fu.jpg" alt="Pic Miss"> </div>
    <div class="col-md-4"> <img class="pic1" src="img/gt.jpg" alt="Pic Miss"> </div>
  </div> <!-- Div Row end -->

  <br>

  <div class="row">
    <div class="col-md-4"> <img class="pic1" src="img/me.jpg" alt="Pic Miss"> </div>
    <div class="col-md-4"> <img class="pic1" src="img/ps3.jpg" alt="Pic Miss"> </div>
    <div class="col-md-4"> <img class="pic1" src="img/msc.jpg" alt="Pic Miss"> </div>
  </div> <!-- Div Row end -->

  <br>

  <div class="row">
    <div class="col-md-4"> <img class="pic1" src="img/rm.jpg" alt="Pic Miss"> </div>
    <div class="col-md-4"> <img class="pic1" src="img/ss.jpg" alt="Pic Miss"> </div>
    <div class="col-md-4"> <img class="pic1" src="img/uc.jpg" alt="Pic Miss"> </div>
  </div> <!-- Div Row end -->

</div> <!-- Div container end -->

<br><br>

<% include ../parts/02-dw %>
