

<% include ../parts/01-up %>

  <h1>Page 4</h1>
   <br><br>

   <div class="container">
     <div class="row">
       <div class="col-xs-6">
         <a href="#" class="btn btn-default">One <span class="glyphicon glyphicon glyphicon-sunglasses" aria-hidden="true"></span></a>
         <a href="#" class="btn btn-default">Two <span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span></a>
         <a href="#" class="btn btn-default">Three <span class="glyphicon glyphicon glyphicon-qrcode" aria-hidden="true"></span></a>
       </div>
     </div>
   </div>

<% include ../parts/02-dw %>
