

<% include ../parts/01-up %>

  <h1>Page 11</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 top1">
        <img class="img-responsive pic1-p11" src="http://via.placeholder.com/600x100" alt="Miss Pic">
      </div>
    </div>
  </div>



  <br>



  <div class="container">
    <div class="row pizo2">
      <div class="block b1">
        <p>GIMP is a high quality framework for scripted image manipulation, with multi-language support such as C, C++, Perl, Python, Scheme, and more!</p>
      </div>

      <div class="block b2">
        <p>GIMP is a high quality framework for scripted image manipulation, with multi-language support such as C, C++, Perl, Python, Scheme, and more!</p>
      </div>

      <div class="block b3">
        <p>GIMP is a high quality framework for scripted image manipulation, with multi-language support such as C, C++, Perl, Python, Scheme, and more!</p>
      </div>
    </div>
  </div>



  <br>



  <div class="container">
    <div class="row ft1">

         <i class="fa fa-connectdevelop fa-2x space1" aria-hidden="true"></i>
         <h4 class="space1">By: Edmundo Rubio </h4>
         <i class="fa fa-github-square fa-2x space1"></i>
         <i class="fa fa-suitcase fa-2x space1"></i>

    </div>
  </div>

<% include ../parts/02-dw %>
