

<% include ../parts/01-up %>

  <h1>Page 12</h1>
  <br><br>

  <div class="container conlin">
    <div class="row">
      <img class="img-responsive pic1" src="../img/00-aew.jpg" alt="Ms 13">
    </div>


    <div class="row"></div>


    <div class="row"></div>
  </div>

<% include ../parts/02-dw %>
