body{
  background-color: rgb(168, 227, 247);
  text-align: center;
  padding: 30px 100px;
}

.MainContainer{
  background-color: rgba(254, 254, 254, 0.782);
  border: 7px solid white;
  padding: 15px 50px;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 10px; 
}

.menu1{
  display: flex;
  justify-content: center;
}

.menuButton{
  margin: 2px;
  padding: 3px 6px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 10px; 
  background-color: rgb(134, 130, 255);
}

.menuButton:hover{
  background-color: rgb(182, 181, 252);
}

/* ===================================================== */
.singleTodo{
  border: 2px solid black;
  width: 40%;
  margin: 3px auto;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 1px 35px;
  align-items: center;
}

.ckBox{
  zoom: 2;
}

.taksBTNs{
  width: 150px;
  height: 30px;
  margin: 0px 2px;
}

/* ===================================================== */