

<% include ../parts/01-up %>

  <h1>Page 5 - Forms</h1>
  <br><br>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Basic Form</h2>
        <form action="">
          <div class="form-group">
            <input type="text" name="" id="name" placeholder="Provide Name" class="form-control"><br>
            <input type="email" name="" id="email" placeholder="Provide Email" class="form-control">
          </div>
        </form>
      </div>
    </div>
  </div>


<% include ../parts/02-dw %>
